@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{

   --red-602:#000;
   --red-605:#230F07;
   --red-604:#3C150E;
   --red-603:#571913;
   --red-602:#741B16;
   --red-601:#911D19;
   --red-600:#B01C1C;
   --red-500:#C44B3E;
   --red-400:#D57161;
   --red-300:#E49486;
   --red-200:#F0B7AD;
   --red-100:#F9DBD5;
   --light-red:#ffcbcb;
   --carmine-red:#960018;
   --white-color:#fff;
   
   --black-900:#191919;
   --black-800:#333;
   --black-700:#4c4c4c;
   --black-600:#666;
   --black-500:#7f7f7f;
   --black-400:#999;
   --black-300:#b2b2b2;
   --black-200:#CCC;
   --black-100:#e5e5e5;

   --main-color:#2980b9;
   --red:#e74c3c;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Roboto', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--red-600);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--black-400);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

/* Light mode styles */

body {
    background-color: var(--white-color);
    color: var(--black-900);
}

/* Dark mode styles */
body.dark-mode {
    background-color: var(--black-900);
    color: var(--white-color);
}

/* Dark mode styles for shared elements */
body.dark-mode header,
body.dark-mode footer {
    background-color: var(--black-700);
    color: var(--white-color);
}

/*
body.dark-mode .header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--white-color);
}*/

/*
body.active{
   --white-color:#111;
   --black-color:#fff;
   --light-color:rgba(255,255,255,.3);
   background: #222;
}

/* Dark mode styles */
/*.dark-mode {
    background-color: black;
    color: white;
    /* Other style changes for dark mode */
/*}*/

section{
   padding:2rem;
   max-width: 1200px;
   margin:0 auto;
}

/* Basic select box styles */
select {
   text-align: center;
   padding: 1rem;
   color: var(--white-color);
   font-size: 1.8rem;
   border: 1px solid #ccc;
   box-shadow: var(--box-shadow);
   background-color: var(--red-500);
   border-radius: .5rem;
   outline: none;
   width: 30rem;
   margin: 0 auto;
   display: block;
   margin-bottom: 2rem;
}

    /* Style for dropdown arrow */
select:after {
   content: "\25BC";
   position: absolute;
   top: 30%;
   right: .8rem;
   pointer-events: none;
   background-color: var(--red-100);
}

    /* Style for options */
select option {
   background-color: #f0f0f0 !important;
   color: var(--black-600);
   border: 1px solid #ccc;
   box-shadow: var(--box-shadow);

}

    /* Style for hover and focus states */
select:hover,
select:focus {
   border-color: var(--black-color);
   background-color: var(--red-100);
   color: var(--black-900);
}

body.dark-mode select {
    background-color: var(--black-800);
    color: var(--white-color);
    /* Other dark mode styles */
}

.heading{
   font-size: 4rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-align: center;
   text-transform: uppercase;
}

body.dark-mode .heading{
   color:var(--black-500);
}

.update-btn,
.logout-btn,
.login-btn,
.register-btn{
   display: block;
   width: 100%;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:var(--white-color);
   background-color: var(--red-600);
   cursor: pointer;
   text-align: center;
}

.update-btn:hover,
.logout-btn:hover,
.login-btn:hover,
.register-btn:hover,
/* Dark mode for buttons */
body.dark-mode .update-btn:hover,
body.dark-mode .logout-btn:hover,
body.dark-mode .login-btn:hover,
body.dark-mode .register-btn:hover{
   background-color: var(--black-900);
   color: var(--red-200);
}
/*
.update-btn{
   background-color: var(--black-200);
}
.logout-btn{
   background-color: var(--black-200);
}
.login-btn{
   background-color: var(--black-200);
}
.register-btn{
   background-color: var(--black-200);
}
*/

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:var(--white-color);
   background-color: var(--red-600);
   cursor: pointer;
   text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover,
/* Dark mode for buttons */
body.dark-mode .btn:hover,
body.dark-mode .delete-btn:hover,
body.dark-mode .option-btn:hover{
   background-color: var(--black-900);
   color: var(--red-200);
}
/*
.btn{
   background-color: var(--red-600);
}
.option-btn{
   background-color: var(--red-602);
}
.delete-btn{
   background-color: var(--red-600);
}
*/

.navbar{
   display: flex;
   gap:1rem;
}

.empty{
   padding:1.5rem;
   background-color: var(--white);
   border: var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   color:var(--red-600);
   border-radius: .5rem;
   font-size: 2rem;
   text-transform: capitalize;
   margin: 0 auto;
   display: block;
}

/* Dark mode for other elements */
body.dark-mode .empty {
    background-color: var(--black-800);
    color: var(--red-600);
}

.disabled{
   pointer-events: none;
   user-select: none;
   opacity: .5;
}

@keyframes fadeIn{
   0%{
      transform: translateY(1rem);
   }
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

/* Dark mode for specific elements */
body.dark-mode .header {
    background-color: var(--black-700); /* Dark background */
    color: var(--white-color); /* Light text */
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex img{
   opacity: 0.8;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.header .flex img:hover{
   opacity: 1;
   transform: scale(1.5);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--black);
}

body.dark-mode .header .flex .navbar{
   background-color: var(--black-700);
}

body.dark-mode .header .flex .navbar a{
   color:var(--light-bg);
}

.header .flex .navbar a:hover,
body.dark-mode .header .flex .navbar a:hover{
   color:var(--red-600);
   letter-spacing: .4rem;
}

/* Dark mode for icons */
body.dark-mode .icons #menu-btn {
    background-color: var(--black-700); /* Dark background */
    color: var(--white-color); /* Light text */
}

.header .flex .icons > *{
   margin-left: 1rem;
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black-900);
}

body.dark-mode .header .flex .icons > *{
   color:var(--light-bg);
}

.header .flex .icons > *:hover,
body.dark-mode .header .flex .icons > *:hover{
   background: var(--red-600);
   color:var(--light-bg);
}

.header .flex .icons a span{
   font-size: 2rem;
}

.header .flex .profile{
   position: absolute;
   top:120%; right:2rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:1rem;
   width: 30rem;
   /*padding-top: 1rem;*/
   display: none;
   animation:fadeIn .2s linear;
}

body.dark-mode .header .flex .profile{
   background-color: var(--black-700);
   box-shadow: var(--box-shadow);
   border:1px solid var(--white-color);
}

.header .flex .profile.active{
   display: inline-block;
}

.header .flex .profile p{
   text-align: center;
   color:var(--black);
   font-size: 2rem;
   margin-bottom: 1rem;
   /*margin-block: 1rem;*/
   border-bottom: 1px solid;
}

body.dark-mode .header .flex .profile p{
   color:var(--light-bg);
}

#menu-btn{
   display: none;
}

.home-grand{
   background: url(../images/banner-blue.png) no-repeat;
   background-size: cover;
   background-position: center;
}

body.dark-mode .home-grand{
   background: url(../images/banner-blue-dark.png) no-repeat;
}

.home-grand .slide{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   align-items: center;
   padding-top: 3rem;
   padding-bottom: 5rem;
}

.home-grand .slide .image-sw{
   flex:1 1 40rem;
}

.home-grand .slide .image-sw img{
   width: 100%;
   height: 40rem;
   object-fit: contain;
}

.home-grand .slide .image-sw img:hover{
   transform: scale(1.3);
}

.home-grand .slide .content-sw{
   flex:1 1 40rem;
   text-align: center;
}

.home-grand .slide .content-sw span{
   font-size: 2rem;
   color: var(--red-400);
}

.home-grand .slide .content-sw h3{
   margin:1rem 0;
   font-size: 3rem;
   line-height: initial;
}

.home-grand .slide .content-sw .btn{
   display: inline-block;
   width: auto;
}

body.dark-mode .home-grand .slide .content-sw .btn:hover{
   background-color: var(--black-600);
}

.swiper-pagination-bullet-active{
   background-color: var(--red-600);
}

.category .slide{
   margin-bottom: 5rem;
   box-shadow: var(--box-shadow);
   /*border:var(--border);*/
   text-align: center;
   padding:1.5rem;
   background: var(--white);
   border-radius: .5rem;
}

body.dark-mode .category .slide{
   background: var(--black-800);
   border: 1px solid var(--white-color);
}

.category .slide:hover{
   transform: scale(1.01);
}

.category .slide:hover h3{
   color:var(--red-600);
   letter-spacing: .5rem;
}

.category .slide img{
   height: 7rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: 1rem;
   user-select: none;
}

.category .slide h3{
   font-size: 2rem;
   color:var(--black);
   user-select: none;
}

body.dark-mode .category .slide h3{
   color:var(--black-200);
}

.home-products .slide{
   position: relative;
   padding:2rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   margin-bottom: 5rem;
   overflow: hidden;
   user-select: none;
}

body.dark-mode .home-products .slide{
   background-color: var(--black-700);
   border: 1px solid var(--white-color);
}

.home-products .slide:hover{
   transform: scale(1.05);
}

.home-products .slide img{
   width: 100%;
   height: 20rem;
   object-fit: contain;
   margin-bottom: 2rem;
}

.home-products .slide .name{
   font-size: 2rem;
   color:var(--black);
}

body.dark-mode .home-products .slide .name{
   color:var(--black-300);
}

.home-products .slide .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1rem;
}

.home-products .slide .flex .price{
   text-align: center;
   width: 7rem;
   margin:1rem 0;
   padding-top: .9rem;
   padding-bottom: .9rem;
   font-size: 2rem;
   color:var(--red);
   border:var(--border);
   border-radius: .5rem;
}

.home-products .slide .flex .qty{
   width: 7rem;
   padding:1rem;
   border:var(--border);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

body.dark-mode .home-products .slide .flex .price,
body.dark-mode .home-products .slide .flex .qty{
   color:var(--red-600);
   background-color: var(--black-700);
   border: 1px solid var(--white-color);
}

.quick-view form{
   padding:2rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   margin-top: 1rem;
}

body.dark-mode .quick-view form{
   background-color: var(--black-600);
   border: 1px solid var(--white-color);
}

.quick-view form .row{
   display: flex;
   align-items: center;
   gap:1.5rem;
   flex-wrap: wrap;
}

.quick-view form .row .image-container{
   margin-bottom: 2rem;
   flex:1 1 40rem;
}

.quick-view form .row .image-container .main-image img{
   height: 30rem;
   width: 100%;
   object-fit: contain;
}

.quick-view form .row .image-container .sub-image{
   display: flex;
   gap:1.5rem;
   justify-content: center;
   margin-top: 2rem;
}

.quick-view form .row .image-container .sub-image img{
   height: 7rem;
   width: 10rem;
   object-fit: contain;
   padding:.5rem;
   border-radius: .5rem;
   cursor: pointer;
   transition: .2s linear;
   border: var(--border);
   box-shadow: var(--box-shadow);
   max-width: 100%;
    height: auto;
}

body.dark-mode .quick-view form .row .image-container .sub-image img{
   filter: brightness(100%);
}

.quick-view form .flex .image-container .sub-image img:hover{
   transform: scale(1.1);
}

.quick-view form img{
   width: 100%;
   height: 20rem;
   object-fit: contain;
   margin-bottom: 2rem;
}

.quick-view form .row .content{
   flex:1 1 40rem;
}

.quick-view form .row .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1rem;
   margin:1rem 0;
}

.quick-view form .row .content .name{
   font-size: 2rem;
   color:var(--black);
}

body.dark-mode .quick-view form .row .content .name{
   color:var(--black-400);
}

.quick-view form .row .flex .price{
   text-align: center;
   width: 7rem;
   margin:1rem 0;
   padding-top: .9rem;
   padding-bottom: .9rem;
   font-size: 2rem;
   color:var(--red);
   border:var(--border);
   border-radius: .5rem;
}

.quick-view form .row .flex .qty{
   width: 7rem;
   padding:1rem;
   border:var(--border);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

body.dark-mode .quick-view form .row .flex .qty{
   color:var(--black-200);
   background-color: var(--black-600);
}

.quick-view form .row .content .details{
   font-size: 1.6rem;
   color:var(--light-color);
   line-height: 2;
}  

body.dark-mode .quick-view form .row .content .details{
   color:var(--black-300);
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.products .box-container .box{
   position: relative;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
   overflow: hidden;
}

body.dark-mode .products .box-container .box{
   background-color: var(--black-700); 
   border: 1px solid var(--white-color);
}

.products .box-container .box img{
   height: 20rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.products .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
}

body.dark-mode .products .box-container .box .name{
   color:var(--black-400);
}

.products .box-container .box .flex{
   display: flex;
   align-items: center;
   gap:1rem;
}

.products .box-container .box .flex .qty{
   width: 7rem;
   padding:1rem;
   border:var(--border);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

body.dark-mode .products .box-container .box .flex .qty{
   color:var(--black-200);
   background-color: var(--black-700);
}

.products .box-container .box .flex .price{
   text-align: center;
   width: 7rem;
   margin:1rem 0;
   padding-top: .9rem;
   padding-bottom: .9rem;
   font-size: 2rem;
   color:var(--red);
   border:var(--border);
   border-radius: .5rem;
}

.form-container .message{
   position: relative;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color: var(--black-800);
   border-radius: .5rem;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:1.5rem;
   /*z-index: 1100;*/
   overflow: hidden;
}

body.dark-mode .form-container .message{
   background-color: var(--red-602);
}

.form-container .message span{
   font-size: 2rem;
   color:var(--red-500);
}

body.dark-mode .form-container .message span{
   font-size: 2rem;
   color:var(--red-100);
}

.form-container .message i,
body.dark-mode .form-container .message i:hover{
   cursor: pointer;
   color:var(--red-500);
   font-size: 2.5rem;
}

body.dark-mode .form-container .message i{
   color:var(--red-100);
}

.form-container .message i:hover{
   color:var(--white-color);
}

.form-container form{
   background-color: var(--white);
   padding:2rem;
   border-radius: .5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   margin:0 auto;
   max-width: 50rem;
}

body.dark-mode .form-container form{
   background-color: var(--black-800);
   border: 1px solid var(--white-color);
}

.form-container form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
}

body.dark-mode .form-container form h3{
   color:var(--black-200);
}

.form-container form label{
   font-size: 1.7rem;
   color:var(--black);
}

body.dark-mode .form-container form label{
   color:var(--black-300);
}

.form-container form p{
   font-size: 1.7rem;
   color:var(--light-color);
   margin:1.5rem 0;
}

body.dark-mode .form-container form p{
   color:var(--black-300);
}

.form-container form .box{
   margin:1rem 0;
   background-color: var(--red-100);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);  
   width: 100%;
   border-radius: .5rem;
}

body.dark-mode .form-container form .box{
   background-color: var(--black-100);
}

.form-container .input-container{
  position: relative;
}

.form-container .input-container input{
  padding-left: 30px; /* Adjust the padding as needed to position the icon correctly */
}

.form-container .input-container i{
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the left position as needed to position the icon correctly */
  transform: translateY(-50%);
}

body.dark-mode .form-container .input-container i{
  color: var(--black-700);
}

.form-container .password-container .eye{
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   padding-right: 20px;
}

.fa{
   margin-right: 10px;
}

#hide{
   display: none;
}

.reviews .slide{
   padding:2rem;
   text-align: center;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   border:1px solid;
   margin-bottom: 5rem;
   user-select: none;
}

body.dark-mode .reviews .slide{
   background-color: var(--black-800);
}

.reviews .slide .client-name{
   color: var(--black-color);
   font-size: 3rem;
}

body.dark-mode .reviews .slide .client-name{
   color: var(--black-300);
   font-size: 3rem;
}

.reviews .slide .client-rate img{
   font-size: 3rem;
}

.reviews .slide .client-subject{
   padding: 1rem 0;
   line-height: 2;
   font-size: 2.5rem;
   color: var(--black-color);
}

body.dark-mode .reviews .slide .client-subject{
   color: var(--black-300);
}

.reviews .slide .client-mess{
   color: var(--black-color);
   font-size: 2rem;
}

body.dark-mode .reviews .slide .client-mess{
   color: var(--black-300);
}

.about {
   background-color: var(--white-color);
   border-radius: .5rem;
   border: 1px solid var(--black-900);
   box-shadow: var(--box-shadow);
   margin-bottom: 3rem;
   margin-top: 3rem;
}

body.dark-mode .about {
   background-color: var(--black-700);
   border: 1px solid var(--white-color);
}

.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex:1 1 40rem;
}

.about .row .image img{
   width: 100%;
}

.about .row .content{
   flex:1 1 40rem;
}

.about .row .content h1{
   font-size:2.5rem;
   color:var(--black);
}

body.dark-mode .about .row .content h1{
   font-size:2.5rem;
   color:var(--black-300);
}

.about .row .content p{
   line-height: 2;
   font-size: 2rem;
   color:var(--light-color);
   padding:1rem 0;
}

body.dark-mode .about .row .content p{
   color:var(--black-300);
}

.about .row .content .btn{
   display: inline-block;
   width: auto;
}

.contact {
   border-radius: .5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   padding-top: 2rem;
   padding-bottom: 2rem;
   margin-bottom: 2rem;
}

body.dark-mode .contact {
   background-color: var(--black-700);
   border: 1px solid var(--white-color);
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.contact .row .text{
   flex:1 1 40rem;
}

body.dark-mode .contact .row .text{
   background-color: var(--black-700);
}

.contact .row .image{
   flex:1 1 40rem;
}

.contact .row .image img{
   width: 100%;
}

body.dark-mode .contact .row .image{
   background-color: var(--black-800);
}

.contact .row .text h1{
   text-align: center;
   color:var(--black-900);
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

body.dark-mode .contact .row .text h1{
   color:var(--black-300);
}

.contact .row .text p{
   line-height: 2;
   font-size: 1.8rem;
   color:var(--black-900);
   padding:.5rem 0;
}

body.dark-mode .contact .row .text p{
   color:var(--black-200);
}

.search-form form{
   display: flex;
   gap:1rem;
}

.search-form form input{
   width: 100%;
   border:var(--border);
   border-radius: .5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
}

body.dark-mode .search-form form input{
   background-color: var(--black-700);
   color:var(--white-color);
}

.search-form form button{
   font-size: 2.5rem;
   height: 5.5rem;
   line-height: 5.5rem;
   background-color: var(--red-600);
   cursor: pointer;
   color:var(--white);
   border-radius: .5rem;
   width: 6rem;
   text-align: center;
}

.search-form form button:hover{
   background-color: var(--black);
}

body.dark-mode .search-form form button{
   background-color: var(--black-700);
}

body.dark-mode .search-form form button:hover{
   background-color: var(--red-600);
}

.wishlist-total{
   max-width: 50rem;
   margin:0 auto;
   margin-top: 3rem;
   background-color: var(--white);
   border:var(--border);
   border-radius: .5rem;;
   padding:2rem;
   text-align: center;
}

body.dark-mode .wishlist-total{
   background-color: var(--black-800);
   border: 1px solid var(--white-color);
}

.wishlist-total p{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2rem;
}

body.dark-mode .wishlist-total p{
   color:var(--black-400);
}

.wishlist-total p span{
   color:var(--red);
}

.shopping-cart .sub-total{
   color:var(--black-900);
   font-size: 1.8rem;
}

body.dark-mode .shopping-cart .sub-total{
   color:var(--black-300);
   font-size: 1.8rem;
}

.shopping-cart .sub-total span{
   color:var(--red);
}

.cart-total{
   max-width: 50rem;
   margin:0 auto;
   margin-top: 3rem;
   background-color: var(--white);
   border:var(--border);
   border-radius: .5rem;;
   padding:2rem;
   text-align: center;
}

body.dark-mode .cart-total{
   background-color: var(--black-800);
   border: 1px solid var(--white-color);
}

.cart-total p{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2rem;
}

body.dark-mode .cart-total p{
   color:var(--black-300);
}

.cart-total p span{
   color:var(--red);
}

.display-orders{
   text-align: center;
   padding-bottom: 0;
}

.display-orders p{
   display: inline-block;
   padding:1rem 2rem;
   margin:1rem .5rem;
   font-size: 2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

body.dark-mode .display-orders p{
   background-color: var(--black-800);
}

.display-orders p span{
   color:var(--red-600);
}

.display-orders .grand-total{
   margin-top: 1.5rem;
   margin-bottom: 2.5rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

body.dark-mode .display-orders .grand-total{
   color:var(--black-700);
}

.display-orders .grand-total span{
   color:var(--red-600);
}

.checkout-orders form{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

body.dark-mode .checkout-orders form{
   background-color: var(--black-800);
   border: 1px solid var(--white-color);
}

.checkout-orders form h3{
   border-radius: .5rem;
   background-color: var(--black);
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

body.dark-mode .checkout-orders form h3{
   background-color: var(--black-700);
   color:var(--black-400);
}

.checkout-orders form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   justify-content: space-between;
}

.checkout-orders form .flex .inputBox{
   width: 49%;
}

.checkout-orders form .flex .inputBox .box{
   width: 100%;
   border:var(--border);
   border-radius: .5rem;
   font-size: 1.8rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   margin:1rem 0;
   background-color: var(--light-bg);
   text-align: left;
}

body.dark-mode .checkout-orders form .flex .inputBox .box{
   color:var(--black-700);
   background-color: var(--black-200);
}

.checkout-orders form .flex .inputBox span{
   font-size: 1.8rem;
   color:var(--light-color);
}

body.dark-mode .checkout-orders form .flex .inputBox span{
   color:var(--black-400);
}

.orders .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-start;
}

body.dark-mode .orders {
   background-color: var(--black-700);
   border: 1px solid var(--white-color);
   border-radius: 0.5rem;
   margin-top:3rem;
   margin-bottom:3rem;
}

.orders {
   border: 1px solid var(--black-900);
   box-shadow: var(--box-shadow);
   border-radius: 0.5rem;
   margin-top:3rem;
   margin-bottom:3rem;
}

.orders .box-container .box p{
   margin:.5rem 0;
   line-height: 1.8;
   font-size: 2rem;
   color:var(--light-color);
}

body.dark-mode .orders .box-container .box p{
   color:var(--black-200);
}

.orders .box-container .box p span{
   color:var(--red-600);
}

.footer{
   background-color: var(--white);
}

.footer .grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .grid .box h3{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-transform: capitalize;
}

body.dark-mode .footer .grid .box h3{
   color:var(--black-300);
}

.footer .grid .box a{
   display: block;
   margin:1.5rem 0;
   font-size: 1.7rem;
   color:var(--light-color);
}

body.dark-mode .footer .grid .box a{
   color:var(--black-200);
}

.footer .grid .box a i{
   padding-right: 1rem;
   color:var(--red-600);
   transition: .2s linear;
}
body.dark-mode .footer .grid .box a:hover,
.footer .grid .box a:hover{
   color:var(--red-600);
}

.footer .grid .box a:hover i{
   padding-right: 2.5rem;
}

.footer .credit{
   text-align: center;
   padding: 2.5rem 2rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--black);
}

body.dark-mode .footer .credit{
   color:var(--black-300);
}

.footer .credit span{
   color:var(--red-600);
}












@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }



   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .home-bg .home .slide .content{
      text-align: center;
   }

   .home-bg .home .slide .content h3{
      font-size: 3rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3rem;
   }

   .navbar{
      flex-flow: column;
      gap:0;
   }

   .quick-view form .row .image-container .sub-image img{
      width: 8rem;
   }

   .checkout-orders form .flex .inputBox{
      width: 100%;
   }

}











@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3.5rem;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }

   .add-products form textarea{
      height:15rem;
   }

}